body {
	font-family:"Comic Sans MS",sans-serif;
	background-image: url("green-grass-texture.jpg");
	color:white;
}

h1 {
	font-size:3em;
	text-shadow:0.1em 0.1em gray;
	text-align:center;
}

p {
	text-align:justify;
}

strong {
	font-weight:normal;
	color:red;
}

em {
	font-style:normal;
	color:orange;
}

mark {
	text-decoration:underline;
}

h1, h2, h3, h4 {
	font-variant:small-caps;
}

#intro {
	background-color:blue;
	border:5px blue outset;
	border-radius:15px;
}

.balisage {
	background-color:red;
	opacity:0.7;
}